.header {
  width: 100%;
  position: relative;
  &__description {
    position: absolute;
    top: 5%;
    left: 5%;
  }
  &__img {
    background-image: url("/assets/images/img_header_intellectual.jpg");
    background-size: cover;
  }
}
