@font-face {
  font-family: "Play";
  src: url("../../../assets/fonts/Play-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.ymaps-geolink {
  text-decoration: none;
  font-weight: bolder;
  color: rgb(25, 46, 130);
}

.header {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  background-image: url("../../../assets/images/img_header_intellectual.jpg");
  background-size: cover;
  background-position: center;
}

.header__logo {
  padding: 2%;
  max-width: 100%;
  height: 30%;

  @media all and ((min-width: 280px) and (max-width: 1000px)) {
    height: 15%;
  }
}
.header__weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  z-index: 2;
  text-align: center;
  color: white;
  font-family: "Play", sans-serif;
  padding-top: 10vh;
}
.header__arrow {
  position: relative;
  width: 100px;
  height: 100px;
  margin: 10vh auto 80px auto;
}
.header__arrow:before,
.header__arrow:after {
  content: "";
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-left: 26px solid #fcfaf4;
  border-bottom: 26px solid #fcfaf4;
  animation: arrow-8 3s linear infinite;
}
.header__arrow:after {
  animation: arrow-8 3s linear infinite -1.5s;
}
@keyframes arrow-8 {
  0% {
    opacity: 0;
    transform: translate(0, -53px) rotate(-45deg);
  }
  10%,
  90% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translate(0, 0) rotate(-45deg);
  }
  100% {
    opacity: 0;
    transform: translate(0, 53px) rotate(-45deg);
  }
}

.main {
  background-color: rgb(220, 196, 176);
  background-image: url("../../../assets/images/vector_romantic.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;

  @media all and ((min-width: 280px) and (max-width: 1000px)) {
    background-image: none;
  }
}

.main__wrapper {
  display: flex;
  flex-direction: column;
}

#main__point_1 {
  align-self: start;
  margin-top: -5%;

  @media all and ((min-width: 280px) and (max-width: 1000px)) {
    align-self: center;
    margin-top: 0;
  }
}

#main__point_2 {
  align-self: end;
  margin-top: -12%;

  @media all and ((min-width: 280px) and (max-width: 1000px)) {
    align-self: center;
    margin-top: 0;
  }
}

#main__point_3 {
  align-self: start;

  @media all and ((min-width: 280px) and (max-width: 1000px)) {
    align-self: center;
  }
}

#main__point_4 {
  align-self: end;
  margin-top: 15%;

  @media all and ((min-width: 280px) and (max-width: 1000px)) {
    align-self: center;
    margin-top: 0;
  }
}

#main__point_5 {
  align-self: start;
  margin-top: 8%;

  @media all and ((min-width: 280px) and (max-width: 1000px)) {
    align-self: center;
    margin-top: 0;
  }
}

#main__point_6 {
  align-self: end;
  margin-top: 25%;

  @media all and ((min-width: 280px) and (max-width: 1000px)) {
    align-self: center;
    margin-top: 0;
  }
}

#main__point_7 {
  align-self: start;

  @media all and ((min-width: 280px) and (max-width: 1000px)) {
    align-self: center;
  }
}

.main__title {
  color: rgb(74, 80, 104);
  text-align: center;
  font-family: "Play", sans-serif;
  margin-top: 0;
  padding-top: 5%;
}

.main__point {
  cursor: pointer;
  width: 40vw;
  height: 40vw;
  border-radius: 50%;
  background: rgb(245, 220, 199);
  position: relative;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.1),
    0px 4px 8px rgba(0, 0, 0, 0.1), 0px 8px 16px rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
  padding: 20px;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 5%;
  margin-right: 5%;
  @media all and ((min-width: 280px) and (max-width: 700px)) {
    width: 90vw;
    height: 90vw;
  }
}

.main__point_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(74, 80, 104);
  font-family: "Play", sans-serif;
  @media all and ((min-width: 280px) and (max-width: 860px)) {
    font-size: small;
  }
}

.span {
  font-weight: bolder;
  color: rgb(25, 46, 130);
}
.main__point_location {
  position: absolute;
  width: 2%;
  top: 50%;
}

.footer {
  font-family: "Play", sans-serif;
  color: white;
  background-color: rgb(220, 196, 176);
}

.footer-wrap {
  padding: 5vh 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-wrap .footer__email {
  font-size: 30px;

  @media all and ((min-width: 280px) and (max-width: 1000px)) {
    font-size: 1rem;
  }
}

.footer-wrap .footer__copyright {
  font-size: 20px;

  @media all and ((min-width: 280px) and (max-width: 1000px)) {
    font-size: 1rem;
  }
}

/*# sourceMappingURL=style.css.map */
