@font-face {
  font-family: "Play";
  src: url("../../assets/fonts/Play-Regular.ttf");
}

body {
  margin: 0 auto;
  background-color: #e4cbdd;
}

.header__bohemian {
  max-width: 1920px;
  height: 750px;
  background-image: url(../../assets/images/img_header_bohemian.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.logo__white {
  max-width: 15%;
  margin: 40px;
}

.title__bohemian,
.goodbye__bohemian {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 80px;
  font-family: "Play";
  font-size: 60px;
  font-weight: 400;
  color: #4a5068;
}

.text__bohemian {
  margin: 20px 50px 20px;
  font-family: "Play";
  font-size: 30px;
  color: #4a5068;
  text-align: center;
}

.guide__bohemian__container {
  background-image: url(../../assets/images/medieval/Vector\1\(1\).png);
  background-size: 95% 85%;
  background-position: 40%;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 110px;
}

.guide__bohemian-location {
  width: 500px;
  height: 500px;
  background-color: #e9d6e4;
  border: 1px solid #dfd3db;
  border-radius: 50%;
  position: relative;
  margin: 8vh auto 0;
  box-shadow: 5px 5px 4px 3px #bb9bb1;
}

.guide__bohemian-text {
  font-family: "Play";
  color: #4a5068;
  width: 390px;
  height: 300px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 24px;
}

.icon__location {
  width: 21%;
}

.footer__bohemian {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 30px 30px;
}

.e-mail__bohemian {
  font-family: "Play";
  font-size: 30px;
  color: #4a5068;
}

.rights__bohemian {
  font-family: "Play";
  font-size: 20px;
  color: #4a5068;
  align-self: center;
}

@media (max-width: 1245px) {
  .guide__bohemian__container {
    grid-gap: 80px;
  }

  .title__bohemian,
  .goodbye__bohemian {
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: 40px;
  }

  .guide__bohemian-location {
    width: 400px;
    height: 400px;
  }

  .guide__bohemian-text {
    width: 280px;
    height: 200px;
    top: 40%;
    font-size: 18px;
  }
}

@media (max-width: 950px) {
  .guide__bohemian-location {
    width: 320px;
    height: 320px;
  }

  .title__bohemian,
  .goodbye__bohemian {
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: 30px;
  }

  .text__bohemian {
    margin: 20px 50px 20px;
    font-size: 20px;
  }

  .guide__bohemian-text {
    width: 245px;
    height: 220px;
    top: 50%;
    font-size: 15px;
  }

  .guide__bohemian__container {
    grid-gap: 50px;
  }

  .e-mail__bohemian {
    font-size: 25px;
  }

  .rights__bohemian {
    font-size: 15px;
  }
}

@media (max-width: 730px) {
  .guide__bohemian__container {
    background-image: none;
    display: flex;
    flex-direction: column;
  }

  .guide__bohemian-location {
    margin: 1vh auto 0;
  }

  .footer__bohemian {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .e-mail__bohemian {
    padding-bottom: 15px;
    font-size: 11px;
  }

  .rights__bohemian {
    font-size: 11px;
  }
}

@media (max-width: 430px) {
  .guide__bohemian__container {
    background-image: none;
    display: flex;
    flex-direction: column;
  }

  .guide__bohemian-location {
    margin: 1vh auto 0;
  }

  .footer__bohemian {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .e-mail__bohemian {
    padding-bottom: 15px;
    font-size: 11px;
  }

  .rights__bohemian {
    font-size: 11px;
  }
}