@font-face {
  font-family: "Font-slogan";
  src: url(../assets/fonts/Volkhov-Regular.ttf);
}
@font-face {
  font-family: "Font-main";
  src: url(../assets/fonts/Play-Regular.ttf);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #bcc2cf;
}
body header {
  margin: 0 auto;
  max-width: 1920px;
  min-width: 280px;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  background-image: url(../assets/images/cards/img_header_main.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}
@media all and (min-width: 1200px) and (max-width: 1511px) {
  body header {
    height: 80vh;
    padding: 12px;
  }
}
@media all and (min-width: 701px) and (max-width: 1199px) {
  body header {
    height: 44vh;
    padding: 12px;
  }
}
@media all and (min-width: 280px) and (max-width: 700px) {
  body header {
    height: 60vw;
    padding: 8px;
  }
}
body header .header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body header .header-wrap .logo {
  width: 15%;
}
body header .header-wrap .logo img {
  width: 100%;
}
body header .header-wrap h1 {
  text-align: center;
  font-family: "Font-slogan";
  font-size: 50px;
  width: 80%;
}
@media all and (min-width: 1024px) and (max-width: 1600px) {
  body header .header-wrap h1 {
    font-size: 40px;
  }
}
@media all and (min-width: 768px) and (max-width: 1023px) {
  body header .header-wrap h1 {
    font-size: 30px;
    width: 60%;
  }
}
@media all and (min-width: 431px) and (max-width: 767px) {
  body header .header-wrap h1 {
    font-size: 20px;
    width: 70%;
  }
}
@media all and (min-width: 280px) and (max-width: 430px) {
  body header .header-wrap h1 {
    font-size: 12px;
    width: 75%;
  }
}
body main {
  font-family: "Font-main";
}
body main .block-route {
  color: #ffffff;
  background-color: #bcc2cf;
}
body main .block-route .card-wrap {
  background-color: #e9d3bb;
}
body main .block-route .card-wrap .card__title {
  margin: 10px auto;
}
body main .block-guide {
  color: #4a5068;
  background-color: #ffd9b2;
}
body main .block-guide .card-wrap {
  background-color: #bcc2cf;
}
body main .block-guide .card-wrap .card__title {
  margin: 5px auto;
}
body main .container {
  padding: 80px 12%;
  display: flex;
  flex-direction: column;
  gap: 80px;
}
@media all and (min-width: 280px) and (max-width: 1023px) {
  body main .container {
    padding: 30px 5%;
    gap: 40px;
  }
}
body main .container h2 {
  font-size: 50px;
  text-align: center;
}
@media all and (min-width: 501px) and (max-width: 1023px) {
  body main .container h2 {
    font-size: 30px;
  }
}
@media all and (min-width: 280px) and (max-width: 500px) {
  body main .container h2 {
    font-size: 20px;
  }
}
body main .container .container__text {
  font-size: 26px;
  line-height: 138%;
  text-align: justify;
}
@media all and (min-width: 280px) and (max-width: 700px) {
  body main .container .container__text {
    font-size: 16px;
    line-height: 110%;
  }
}
body main .container .container__cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
body main .container .container__cards .card-wrap {
  width: 16vw;
  height: 50vh;
  border-radius: 14px;
  overflow: hidden;
}
@media all and (min-width: 1200px) and (max-width: 1512px) {
  body main .container .container__cards .card-wrap {
    width: 18vw;
    height: 40vh;
  }
}
@media all and (min-width: 601px) and (max-width: 1199px) {
  body main .container .container__cards .card-wrap {
    flex-basis: 45%;
    margin-bottom: 30px;
    height: 36vh;
  }
}
@media all and (min-width: 280px) and (max-width: 600px) {
  body main .container .container__cards .card-wrap {
    flex-basis: 48%;
    margin-bottom: 30px;
    height: 30vh;
  }
}
body main .container .container__cards .card-wrap .card__img {
  height: 80%;
}
body main .container .container__cards .card-wrap .card__img img {
  width: 100%;
  height: 100%;
}
body main .container .container__cards .card-wrap .card__title {
  width: 96%;
  text-align: center;
  font-size: 26px;
}
@media all and (min-width: 1200px) and (max-width: 1439px) {
  body main .container .container__cards .card-wrap .card__title {
    width: 80%;
    font-size: 20px;
  }
}
@media all and (min-width: 280px) and (max-width: 600px) {
  body main .container .container__cards .card-wrap .card__title {
    width: 90%;
    font-size: 12px;
  }
}
body main .container .container__cards .card-wrap .card__title a {
  color: #1e1e1e;
  text-decoration: none;
}
body main .container .container__cards .card-wrap .card__title .card__price {
  font-weight: bolder;
}
body main .box-video {
  color: #ffffff;
  background-color: #bcc2cf;
}
body main .box-video .video-wrap {
  margin: 10vh auto;
  text-align: center;
}
body main .box-video .video-wrap iframe {
  width: 60vw;
  height: 50vh;
}
body footer {
  font-family: "Font-main";
  color: #ffffff;
  background-color: #ffd9b2;
}
body footer .footer-wrap {
  padding: 5vh 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body footer .footer-wrap .footer__email {
  font-size: 30px;
}
body footer .footer-wrap .footer__copyright {
  font-size: 20px;
}/*# sourceMappingURL=style.css.map */