@font-face {
  font-family: "Font-slogan";
  src: url(../assets/fonts/Volkhov-Bold.ttf);
}
@font-face {
  font-family: "Font-main";
  src: url(../assets/fonts/Play-Regular.ttf);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  header {
    max-width: 1920px;
    min-width: 280px;
    width: 100vw;
    height: 100vh;
    padding: 50px 5%;
    background-image: url(../assets/images/cards/img_header_main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    .header-wrap {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      .logo {
        width: 15%;
        img {
          width: 100%;
        }
      }
      .main-title {
        text-align: end;
        font-family: "Font-slogan";
        font-size: 30px;
        width: 80%;
        @media all and (min-width: 600px) and (max-width: 1700px) {
          font-size: 20px;
        }
      }
    }
  }
  main {
    font-family: "Font-main";
    .block-route {
      color: #ffffff;
      background-color: #bcc2cf;
      .card-wrap {
        background-color: #e9d3bb;

        .card__title {
          margin: 10px auto;
        }
      }
    }
    .block-guide {
      color: #4a5068;
      background-color: #ffd9b2;
      .card-wrap {
        background-color: #bcc2cf;
        .card__title {
          margin: 5px auto;
        }
      }
    }
    .container {
      padding: 80px 12%;
      display: flex;
      flex-direction: column;
      gap: 80px;
      h2 {
        font-size: 50px;
        text-align: center;
      }
      .container__text {
        font-size: 26px;
        line-height: 138%;
        text-align: justify;
      }
      .container__cards {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .card-wrap {
          width: 16vw;
          height: 50vh;
          border-radius: 14px;
          overflow: hidden;
          .card__img {
            height: 40vh;
            img {
              width: 100%;
              height: 100%;
            }
          }
          .card__title {
            width: 80%;
            text-align: center;
            font-size: 26px;
            @media all and (min-width: 600px) and (max-width: 1440px) {
              font-size: 20px;
            }
            a {
              color: #1e1e1e;
              text-decoration: none;
            }
            .card__price {
              font-weight: bolder;
            }
          }
        }
      }
    }
    .box-video {
      padding: 80px 12%;
      color: #ffffff;
      background-color: #bcc2cf;
      h2 {
        font-size: 50px;
        text-align: center;
      }
      .video-wrap {
        margin: 10vh auto;
        text-align: center;
        iframe {
          width: 40vw;
          height: 40vh;
        }
      }
    }
  }
  footer {
    font-family: "Font-main";
    color: #ffffff;
    background-color: #ffd9b2;
    .footer-wrap {
      padding: 5vh 5vw;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .footer__email {
        font-size: 30px;
      }
      .footer__copyright {
        font-size: 20px;
      }
    }
  }
}
